{% if site.data.settings.portfolio-home-items %}
<!-- portfolio -->
<section class="section position-relative mb-n40">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Highlighted Projects</h2>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for item in site.data.settings.portfolio-home-items %}
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <img src="{{ site.baseurl }}/{{ item.image }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
          <div class="hover-overlay">
            <div class="hover-content">
              <h5 class="text-white transparent-text">{{ item.year }}<h5>
                  <h4 class="text-white mb-20">{{ item.name }}</h4>
                  <a class="btn btn-light btn-sm" href="{{ item.url }}">view project</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row mt-40">
      <div class="col-lg-10 mx-auto text-center">
        <a href="{{ site.baseurl }}/projects" class="btn btn-primary">See All Projects</a>
      </div>
    </div>
  </div>
  <img class="img-fluid edu-bg-image w-100" src="{{ site.baseurl }}/assets/images/backgrounds/education-bg.png"
    alt="bg-image">
</section>
<!-- /portfolio -->
{% endif %}