---
layout: default
---

<!-- page title -->

<!-- hero area -->
<section class="hero-area">
  <ul class="list-unstyled ml-3 mt-3">
    {% for social in site.data.settings.social %}
    <li class="mb-3"><a class="text-white" href="{{ social.link }}"><i class="{{ social.icon }}"></i></a></li>
    {% endfor %}
  </ul>
  <div class="container page-title">
    <div class="row align-items-center">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">{{ page.title }}</h1>
      </div>
    </div>
  </div>

</section>
<!-- /page title -->

{{ content }}