---
layout: default
---
<!-- /page title -->

<section class="section mt-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 class="font-tertiary mb-5">{{ page.title | escape }}</h2>
        <p class="font-secondary">Published on {{ page.date | date: '%b %d, %Y' }} by <span class="text-primary">{{
            page.author }}</span class="text-primary"> on {% for tag in page.tags %}<span>{{ tag }} </span>{% endfor %}
        </p>
        <div class="content">
          <img src="{{page.image | relative_url }}" class="img-fluid w-100 rounded float-left mr-5 mb-4"
            alt="{{page.title}}">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>

{% if site.data.settings.disqus-identifier %} {% include disqus-comments.html %} {% endif %}


{% include similar-posts.html %}
