---
layout: default
---
<!-- /page title -->
<section class="hero-area">
  <ul class="list-unstyled ml-3 mt-3">
    {% for social in site.data.settings.social %}
    <li class="mb-3"><a class="text-white" href="{{ social.link }}" target="_blank"><i class="{{ social.icon }}"></i></a></li>
    {% endfor %}
  </ul>
</section>

<section class="section">
  <div class="container mt-n300">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="content">
          <img src="{{page.image | relative_url }}" class="img-fluid w-100 rounded float-left mr-5 mb-80 drop-shadow"
            alt="{{page.title}}">
            <h2 class="font-tertiary mb-5 mt-n20">{{ page.title | escape }}</h2>
            <p class="font-secondary smaller-text mt-n40 mb-30"><span class="text-primary">BLOG | </span class="text-primary">{{ page.date | date: '%b %d, %Y' }}
          </p>
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>

{% if site.data.settings.disqus-identifier %} {% include disqus-comments.html %} {% endif %}


{% include similar-posts.html %}
