---
layout: default
---

{% assign project = site.data.settings.portfolio-items | where:"id", page.id | first %}
<!-- /page title -->
<section class="hero-area">
  <ul class="list-unstyled ml-3 mt-3">
    {% for social in site.data.settings.social %}
    <li class="mb-3"><a class="text-white" href="{{ social.link }}" target="_blank"><i
          class="{{ social.icon }}"></i></a></li>
    {% endfor %}
  </ul>
</section>

<section class="section">
  <div class="container mt-n300">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="content">
          {% if project.feature-gif %}
            {% if project.feature-gif contains "http" %}
            <img src="{{ project.feature-gif }}" class="img-fluid w-100 rounded float-left mr-5 mb-80 drop-shadow"
            alt="{{project.name}}">
            {% else %}
            <img src="{{ site.baseurl }}/{{project.feature-gif}}" class="img-fluid w-100 rounded float-left mr-5 mb-80 drop-shadow"
            alt="{{project.name}}">
            {% endif %}
          {% elsif project.feature-video %}
          <div class="videoWrapper mb-80 drop-shadow">
            <iframe src="{{ project.feature-video }}" frameborder="0" allowfullscreen></iframe>
          </div>
          {% else %}
            {% if item.image contains "http" %}
            <img src="{{ project.image }}" class="img-fluid w-100 rounded float-left mr-5 mb-80 drop-shadow"
            alt="{{project.name}}">
            {% else %}
            <img src="{{ site.baseurl }}/{{ project.image }}" class="img-fluid w-100 rounded float-left mr-5 mb-80 drop-shadow"
            alt="{{project.name}}">
            {% endif %}
          {% endif %}

          <h2 class="font-tertiary mb-5 mt-n20">{{ project.name | escape }}</h2>
          <p class="font-secondary smaller-text mt-n40 mb-30"><span class="text-primary">PROJECT</span
              class="text-primary"> | {{ project.year }}</p>
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>



{% if page.resources %}
<section class="section">
  <div class="container mt-n120">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="content">
          <h3>Resources</h3>
        </div>
      </div>
    </div>
  </div>

  {% for resource in page.resources %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 mb-20">
        <div class="d-flex" onclick="window.open('{{ resource.url }}', '_blank');" style="cursor:pointer;">
          <div class="mr-lg-4 mr-3">
            <i class="{{ resource.icon }} icon icon-bg bg-white shadow rounded-circle d-block"></i>
          </div>
          <div>
            <h4 class="mt-30">{{ resource.name }}</h4>
            <p class="mb-0 text-light">{{ resource.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
{% endif %}